@font-face {
    font-family: 'Proxima Nova';
    src: url(/assets/fonts/cpProximaNova-Regular.woff2) format('woff2'),
         url(/assets/fonts/cpProximaNova-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg: #22a4f3;
    --text: #eceff4;
    --accent: #88c0d0;
    --button: #5e81ac;
    --button-hover: #49688d;
    --input: #00000055;
    --input-text: #eceff4;
    --danger: #bf616a;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

a {
    text-decoration: none;
}

.footer {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: 980px;
    padding-top: 25px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: var(--text);
    font-family: 'Proxima Nova';
}

.footer a:link, .footer a:visited {
    color: #ffcc00;
}

/* Game */

.game {
    width: 100%;
    height: 90%;
    min-width: 500px;
    margin: 1% auto;
    overflow: hidden;
}

.game canvas {
    border-radius: 5px;
}

.game input {
    background: none !important;
}

.dummyForMobileKeyboard {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 1px;
    height: 1px;
    opacity: 0;
}
